@font-face {
    font-family: 'ProximaNovaMedium';
    src: url('../police/ProximaNovaMedium.otf') format('OTF'); 
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../police/ProximaNovaBold.otf') format('OTF'); 

}

.banner {
    height: 136px;
    background-color:rgb(2, 62, 138);
}

.bannerContent {
    width: 100%;
    
}
    