<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Entreprise</h4>
            <ul>
              <li><a href="#">à propos de nous</a></li>
              <li><a href="#">Nos services</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Obtenir de l'aide</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Retour</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>à définir</h4>
            <ul>
              <li><a href="#">à définir</a></li>
              <li><a href="#">à définir</a></li>
              <li><a href="#">à définir</a></li>
              <li><a href="#">à définir</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Nous suivre</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/?locale=fr_FR"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
              <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
